{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Data Source=../CicloSustentavel.Infrastructure/CicloSustentavel.db"
  },
  "Settings": {
    "Jwt": {
      "SecretKey": "YOUR_DEV_SECRET_KEY_MINIMUM_32_CHARACTERS_HERE",
      "ExpiresTimeMinutes": 1000
    }
  }
}
