{
  "Logging": {
    "LogLevel": {
      "Default": "Warning",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "Settings": {
    "Jwt": {
      "SecretKey": "YOUR_SECURE_PRODUCTION_KEY_HERE_MINIMUM_32_CHARACTERS",
      "ExpiresTimeMinutes": 60
    }
  }
}
